@import "../../../styles/variables.scss";

main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    section {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .main-section {
        
        gap: 8px;
        flex-grow: 1;
        background-color: $gray-medium;
    }
    
    .logo {
        width: 160px;
        height: auto;
        margin-bottom: $spacing-lg;
        animation: fadeInDown 0.6s ease;
    }
    
    .form-section {
        flex-grow: 0.3;
        padding: 0 35px;
    }

    h2 {
        font-size: 28px;
        font-weight: 600;
        margin-bottom: $spacing-xl;
        animation: fadeIn 0.8s ease;
    }

    .btn-wrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: $spacing-lg;

        .divider {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: $spacing-sm;
            width: 100%;

            font-size: $spacing-sm;
            color: $gray-medium;
            font-weight: 400;
            text-transform: uppercase;

            div {
                flex-grow: 1;
                height: 1px;
                background-color: $gray-medium;
            }

        }

        button {
            width: 100%;
            border-radius: $radius-md;
            font-size: 16px;
            font-weight: 500;
            border: none;
            background-color: transparent;
            padding: 12px 24px;
            cursor: pointer;

            &.btn-primary {
                background-color: $primary-hover;
                color: $white;
                box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
            }

            &.btn-secondary {
                border: 1px solid $primary-color;
                color: $primary-color;
            }
        }
    }
}