@import "../../../styles/variables.scss";
form {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 34px;

    span {
        margin-top: 18px;
        font-size: 14px;
        text-decoration: underline;
        color: $primary-light;
        cursor: pointer;
        text-align: initial;
    }
}